body {
    background-color: grey;
}
.bike {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 600px;
    height: 100vh;
    margin-left: -46px;
}
.bike-frame * {
    position: relative;
    background-color: lightcoral;
    border-radius: 90px;
    width: 22px;
    z-index: 2;
}
.left-top-frame {   
    top: 448px;
    left: 340px;
    height: 200px;
    transform: rotate(35deg);
}
.left-bottom-frame {
    top: 325px;
    left: 190px;
    height: 200px;
    transform: rotate(90deg);
}
.middle-frame {
    left: 230px;
    height: 230px;
    transform: rotate(151deg);
}
.right-top-frame {
    top: -250px;
    left: 290px;
    height: 200px;
    transform: rotate(90deg);
}
.right-bottom-frame {
    top: -380px;
    left: 150px;
    height: 200px;
    transform: rotate(35deg);
}
.front-frame {
    top: -610px;
    left: 430px;
    height: 234px;
    transform: rotate(151deg);
}
.bike-tires *{
    display: inline-block;
    /*position: absolute;*/
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 10px solid transparent;
    border-color: black;
    z-index: 1;
    top: -5px;
}
.front-tire {
    position: relative;
    /*top: 170px;*/
    left: -210px;
}
.back-tire {
    position: relative;
    /*top: 170px;*/
    left: 369px;
}
.bike-handles {
    position: relative;
    background-color: darkgray;
    border-radius: 90px;
    width: 22px;
    z-index: 2;
    height: 50px;
    transform: rotate(90deg);
    top: -195px;
    left: -60px;
}
.bike-seat {
    position: relative;
    background-color: darkgray;
    border-radius: 90px;
    width: 22px;
    z-index: 2;
    height: 70px;
    transform: rotate(90deg);
    top: -220px;
    left: -240px;
}
.wheel {
    position: relative;
    background-color: yellow;
    border-radius: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    top: 35px;
    left: -200px;
}
.crank {
    position: relative;
    background-color: darkgray;
    border-radius: 90px;
    width: 14px;
    z-index: 4;
    height: 70px;
    top: -5px;
    left: -172px;
}
.pedal {
    position: relative;
    background-color: black;
    border-radius: 90px;
    width: 14px;
    z-index: 4;
    height: 35px;
    transform: rotate(90deg);
    top: -20px;
    left: -172px;
}
